/* index.css */

body {
      position: relative; 
  }

 #section1 {
     padding-top:50px;
     height:600px;
     color: #000000; 
     background-color: #fff;
}
  #section2 {
      padding-top:50px;
      height:500px;
      color: #fff; 
      background-color: #000000;
}
  #section3 {
      padding-top:50px;
      height:500px;
      color: #000000; 
      background-color: #fff;
}
  #section4 {padding-top:50px;
      height:500px;
      color: #fff; 
      background-color: #000000;
}

.img-circle {
     display: block;
     max-width: 15%;
     height: auto;
    margin-right: auto;
    margin-left: auto;
}



