/* index.css */

/* background colors and size for sections */
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:500px;color: #fff; background-color: #00ff4e;}
#section5 {padding-top:50px;height:500px;color: #fff; background-color: #767470;}
/* background colors and size for sections end */

body{
    
}